@tailwind base;
@tailwind components;
@tailwind utilities;
@import "flowbite";

.custom-button {
  background-color: #eb8426;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
